@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

header {
  height: 97vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header .header_btm_section {
  padding-top: 170px;
}
header .header_btm_section .row .col-xl-5 p {
  font-size: 50px;
  max-width: 431px;
  color: #2b3443;
  font-weight: 600;
}
header .header_btm_section .row .col-xl-5 p:nth-child(2) {
  font-size: 22px;
  color: rgba(43, 52, 67, 0.7411764706);
}
header .header_btm_section .row .col-xl-5 p span {
  position: relative;
}
header .header_btm_section .row .col-xl-5 p span img {
  width: 160px;
  position: absolute;
  top: 61px;
  left: -13px;
}
header .header_btm_section .row .col-xl-5 button {
  background-color: #2b3443;
  color: #fff;
  padding: 16px 26px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}
header .header_btm_section .row .col-xl-5 button:hover {
  margin-top: -4px;
}

nav .container {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}
nav .container .nav_logo {
  padding: 10px 0px;
}
nav .container .nav_links {
  margin-right: -150px;
}
nav .container .nav_links ul {
  display: flex;
  list-style: none;
}
nav .container .nav_links ul li {
  margin-left: 30px;
  font-weight: 600;
  position: relative;
  padding: 10px 0px;
  position: relative;
}
nav .container .nav_links ul li:hover .navlink_img_cntnt {
  display: block;
  transform: translateY(-7px);
}
nav .container .nav_links ul li:hover .navlink_link_cntnt {
  display: block;
}
nav .container .nav_links ul li a {
  text-decoration: none;
  color: #343f52;
  font-size: 17px;
}
nav .container .nav_links ul li i {
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
nav .container .nav_links ul li .navlink_img_cntnt {
  position: absolute;
  left: -398px;
  width: 1126px;
  margin-top: 15px;
  display: none;
  border-radius: 15px;
  background-color: #2b3443;
  transition: all 0.2s ease-in-out;
  padding-top: 10px;
}
nav .container .nav_links ul li .navlink_img_cntnt ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
}
nav .container .nav_links ul li .navlink_img_cntnt ul li {
  width: 180px;
  height: 150px;
  transition: all 0.2s ease-in-out;
}
nav .container .nav_links ul li .navlink_img_cntnt ul li:hover {
  margin-top: -4px;
}
nav .container .nav_links ul li .navlink_img_cntnt ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
nav .container .nav_links ul li:nth-child(2) {
  position: relative;
}
nav .container .nav_links ul li:nth-child(2):hover .navlink_link_cntnt {
  display: block;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: absolute;
  left: 0;
  top: 44px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  width: 200px;
  display: none;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li {
  padding: 10px 0px;
  font-size: 10px;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li a:hover {
  opacity: 0.7;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li i {
  color: #2b3443;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li:nth-child(1) {
  position: relative;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li:nth-child(1):hover ul {
  display: block;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li:nth-child(1) ul {
  width: 167px;
  position: absolute;
  right: -173px;
  top: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: none;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li:nth-child(2) {
  position: relative;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li:nth-child(2):hover ul {
  display: block;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li:nth-child(2) ul {
  width: 167px;
  position: absolute;
  right: -173px;
  top: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: none;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li:nth-child(3) {
  position: relative;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li:nth-child(3):hover ul {
  display: block;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li:nth-child(3) ul {
  width: 167px;
  position: absolute;
  right: -173px;
  top: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: none;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li:nth-child(4) {
  position: relative;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li:nth-child(4):hover ul {
  display: block;
}
nav .container .nav_links ul li:nth-child(2) .navlink_link_cntnt li:nth-child(4) ul {
  width: 167px;
  position: absolute;
  right: -173px;
  top: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: none;
}
nav .container .nav_links ul li:nth-child(5) {
  position: relative;
}
nav .container .nav_links ul li:nth-child(5):hover .navlink_img_cntnt {
  display: block;
}
nav .container .nav_links ul li:nth-child(5) .navlink_img_cntnt {
  position: absolute;
  left: -730px;
  width: 1126px;
  margin-top: 15px;
  display: none;
  border-radius: 15px;
  background-color: #2b3443;
  transition: all 0.2s ease-in-out;
  padding-top: 10px;
  z-index: 1;
  height: 520px;
}
nav .container .nav_links ul li:nth-child(5) .navlink_img_cntnt ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
}
nav .container .nav_links ul li:nth-child(5) .navlink_img_cntnt ul li {
  width: 180px;
  height: 150px;
  transition: all 0.2s ease-in-out;
}
nav .container .nav_links ul li:nth-child(5) .navlink_img_cntnt ul li:hover {
  margin-top: -4px;
}
nav .container .nav_links ul li:nth-child(5) .navlink_img_cntnt ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
}
nav .container .nav_links ul li:nth-child(5) .navlink_img_cntnt ul li span {
  color: #fff;
  margin: 0;
  padding: 0;
}
nav .nav_icons {
  padding: 10px 0px;
}
nav .nav_icons i {
  display: inline-block;
  margin-right: 12px;
  font-size: 18px;
  color: #343f52;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */