
.to-top{
    width: 40px;
    height: 40px;
    border: 1px solid #26344a;
    background-color: #26344a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    display: none;
    animation-name: fadeInUp;
    animation-duration: .2s;
    svg{
      width: 20px;
      height: 20px;
    }
}
.mob_nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #151b24;
    width: 260px;
    height: 100%;
    z-index: 9999;
    display: none;
    padding: 25px 30px;
    p{
        color: #fff;
        font-size: 23px;
        font-weight: 600;   
    }
    .mobnav_ftr{
        position: fixed;
        bottom: 30px;
        left: 20px;
        display: flex;
        flex-direction: column;
        span{
            color: #fff;
            display: inline-block;
        }
        a{
            color: #fff;
            text-decoration: none;
            display: inline-block;
            &:hover{
                color: #3f78e0;
            }
        }
    }
    ul{
        list-style-type: none;
        padding: 0;
        li{
            margin-top: 10px;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 20px;
            }
            i{
                color: #fff;
                font-size: 14px;
               
            }
        }
    }
}
.active_mobnav{
    
    @media(max-width:768px){
        display: block;
    }
    @media(min-width:768px){
        display: none;
    }
}
header{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 140px;
    @media (max-width:576px) {
        background:none;
    }
    .header_btm_section{
        padding-top: 170px;
        @media(max-width:576px){
            padding-top: 70px;
        }
        .row{
            .col-xl-5{
                @media(max-width:576px){
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                p{
                        @media(max-width:768px){
                            font-size: 30px;
                            max-width: 282px;
                        }
                        @media(max-width:992px){
                            font-size: 33px;
                            max-width: 368px;
                        }
                     font-size: 50px;
                     max-width: 431px;
                      color: #2b3443;
                      font-weight: 600;
                      &:nth-child(2){
                        font-size: 22px;
                        color: #2b3443bd;
                       
                      }
                    span{
                    position: relative;
                    img{
                        width: 160px;
                        position: absolute;
                        top: 61px;
                        left: -13px;
                        
                        @media(max-width:576px){
                            width: 131px;
                            position: absolute;
                            top: 47px;
                            left: -13px;
                        }
                        @media(max-width:768px){
                            width: 120px;
                            position: absolute;
                            top: 47px;
                            left: -13px;
                        }
                        @media(max-width:992px){
                            width: 115px;
                            position: absolute;
                            top: 44px;
                            left: -11px;
                        }                   
                        }
                    }
                 }
            }
            button{
                background-color: #2b3443;
                color: #fff;
                padding: 16px 26px;
                border: none;
                border-radius: 10px;
                font-size: 18px;
                margin-top: 15px;
                // margin-bottom: 15px;
                @media(max-width:576px){
                    padding:12px 20px;
                    font-size: 16px;
                }
                &:hover{
                    transform: translateY(-4px);
                }
            }
        }
    }
}
#wrapper{
padding-top: 70px;   
padding-bottom: 100px;   
    .container{
     .wrapper_title{
        text-align: center;
        padding-bottom: 40px;
        span{
      font-size: 14px;
      color:#aab0bc;
        }
        p{
            text-align:center;
            color: #26344a;
            max-width: 600px;
            margin: 0 auto;
            padding-top: 20ppx;
        }
     }
     .col-xl-4{
        .wrapper_item{
            display: flex;
            flex-direction: row;
          .item_svg{
           width: 70px;
           height: 70px;
           padding-right: 10px;
           svg{
            height: 100%;
            width: 100%;
            color: #3f78e0;
            .lineal-fill{
                fill: #8caeec;
                &:nth-child(2){
                    fill: #fcd49b;
                }
                &:nth-child(3){
                    fill: #fcd49b;
                }
                &:nth-child(4){
                    fill: #fcd49b;
                }
                &:nth-child(5){
                    fill: #8fdcc6;
                }
               
            }
            .lineal-stroke{
                fill: #26344a;
            }
           }
          }
          .item_text{
            p{
                color:#959ca9;;
            }
          }
        }
     }
    }
}
#wrapper_two{   
   .col-xl-6{
    padding:80px  40px;
    background-color: #f6f7f9;
    span{
    font-size: 14px;
    color: #959ca9;
    font-weight: 600;
    }
    p{
    font-size: 40px;
    color: #26344a;
    font-weight:600;
    }
    .wrapper_two_item{
        display: flex;
        padding-bottom: 20px;
        .wrap_scnd_svg{
            padding-right: 5px;
            width: 65px;
            height: 65px;
            svg{
                width: 100%;
                height: 100%;
                .lineal-fill{
                    fill: #8caeec;
                    &:nth-child(3){
                        fill: #fcd49b;
                    }
                }
            }
        }
        .wrap_scnd_text{
            max-width: 370px;
            h2{
                font-size: 18px;
                color: #26344a;
            }
            p{
                font-size: 20px;
                color: #959ca9;
            }
        }
    }
    &:nth-child(1){
    background-image: url("https://sandbox.elemisthemes.com/assets/img/photos/bg38.jpg");  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width:576px){
      background-size: cover;
      height: 43vh;
      padding-top: 10px;
    }
    @media(max-width:768px){
        height: 46vh;
        padding-top: 10px;
      }
    @media(max-width:1200px){
        height: 56vh;
        padding-top: 10px;
        background-size: cover;
      }
    }
   }
}
#slider{
    padding:100px 0px;
    .slider_title{
        display: block;
        text-align: center;
        color: #959ca9;
    }
    p{
        text-align: center;
        font-size: 35px;
        color: #26344a;
        max-width: 550px;
        margin: 0 auto;
        font-weight: 600;
        @media(max-width:576px){ 
            font-size: 24px;
            max-width: 391px
        }
    }
    .swiper {
        padding-top: 30px;
        width: 100%;
        height: 100%;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            &::after{
                content: "";
                background-color: rgba(0, 0, 0, 0.489);
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 100%;
                left: 0;
                bottom: 0;
                right: 0;
                transition: all .2s ease-in-out;
        
            }
            &:hover{
                cursor: pointer;
                p{
                    display: block;
                }
                &::after{
                    opacity: 1;
                }
                img{
                    transform: scale(1.1);
                }
            }
            p{
                z-index: 1;
                position: absolute;
                transform: translate(-3%,50%);
                color: #ffffffcd;
                font-size: 20px;
                font-weight: 500;
                display: none;
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
              }
          }
      }
}
 .swiper-pagination-bullet-active{
    background-color:#fff;
    border: 2px solid gray;
 }
  #company{
    .col-xl-6{
        .row{
            .col-xl-6{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
            .col-xl-12{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }        
    }
    .col-xl-6{
        .company-text{
            padding: 20px 40px;
            span{
                color: #959ca9;
                font-size: 14px;
                font-weight: 500;
            }
            h2{
             max-width: 423px;
             color: #2b3443;
            }
            p{
                color: #26344a;
            }
        }
        .row{
            padding: 0px 40px;
          
        }
    }
  }
#wrapper_three{
    padding: 50px 0px;
    .row{
        position: relative;
        .col-xl-9{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:#f6f7f9;
            border-radius: 10px;
            padding: 140px 0px;
           p{
            max-width: 440px;
            text-align: center;
            font-size: 21px;
           }
           span{
            color: #fcc032;
           }
           h5{
            color: #151b24;
            font-weight: 600;
           }
        }
        figure{
            position: absolute;
            right: 0px;
            top: 50px;
            width: 540px;
            height: 380px;
            @media(max-width:992px){
                display: none;
            }
            @media(max-width:1200px){
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            border-radius: 15px;

            }
        }
    }
}
 #prices{
    padding-top: 40px;
    padding-bottom: 40px;
     p{
        text-align: center;
        font-size: 35px;
        max-width: 521px;
        margin: 0 auto;
        color:#26344a;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .row{
        .col-xl-3{
            &:nth-child(3){
                background-color:#f6f7f9;
                border-radius: 10px;
                .price_item{
                    .price_btn{
                        background-color: #26344a;
                        color: #fff;
                    }
                }
            }
            padding: 0;
             .price_item{
                padding: 20px;
                text-align: center;
                .price_title{
                    color: #151b24;
                }
                .price{
                    span{
                        &:nth-child(2){
                          font-size: 40px;
                        }
                        &:nth-child(3){
                          font-size: 15px;
                        }

                    }
                }
                .price_list{
                    ul{
                        padding: 0;
                        list-style: none;
                        text-align: left;
                        width: 50%;
                        margin: 0 auto;
                        @media(max-width:768px){
                         text-align: center;
                        }
                        li{
                            margin-top: 7px;
                            .bi-check-lg{
                                color: rgb(27, 167, 27);
                            }
                            .bi-x{
                                color: red;
                            }
                        }
                    }
                }
                .price_btn{
                 text-decoration: none;
                 color: #26344a;
                 background-color: #cacbccd3;
                 padding: 10px 20px;
                 border-radius: 10px;
                 display: inline-block;
                 margin-top: 10px;
                 &:hover{
                    transform: translateY(-3px);
                 }
                }
            }
        }
    }
 }
 footer{
  background-color: #f6f7f9;
  padding: 100px 0px;
  .col-xl-3{
    padding: 0;
    .social_item{
        padding: 0;
        list-style-type: none;
        li{
            margin-bottom: 10px;
          &:nth-child(2){
            max-width: 131px;
            p{
                color: #26344a;
            }
          }
          i{
            display: inline-block;
            font-size: 18px;
            color: #26344a;
            margin-right: 6px;
          }
        }
    }
    .ftr_item{
        p{
            color: #26344a;
        }
        span{
            color: #26344a;
            margin-bottom: 10px;
            display: inline-block;
            font-weight:500;
            font-size: 18px;
        }
        ul{
            li{
                color: #26344a;
                margin-bottom: 10px;

                a{
                    text-decoration: none;
                    color: #26344a;
                }
                &:nth-child(2){
                    max-width: 146px;
                }
            }
        }
        .input_grp{
            text-align: left;
           input{
            display: inline-block;
            border: none;
            &:nth-child(1){
                padding: 10px 20px;
                border-radius: 10px;
                
            }
            &:nth-child(2){
               padding: 10px 20px;
               border-top-right-radius: 10px;
               border-bottom-right-radius: 10px;
               background-color: #26344a;
               color: #fff;
            }
           }
        }
    }
  }
 }
