footer{
    background-color: #f6f7f9;
    padding: 100px 0px;
    .col-xl-3{
      padding: 0;
      .social_item{
          padding: 0;
          list-style-type: none;
          li{
              margin-bottom: 10px;
            &:nth-child(2){
              max-width: 131px;
              p{
                  color: #26344a;
              }
            }
            i{
              display: inline-block;
              font-size: 20px;
              color: #26344a;
              margin-right: 11px;
              cursor: pointer;
              &:hover{
                transform: translateY(-3px);
              }
            }
          }
      }
      .ftr_item{
          p{
              color: #26344a;
          }
          span{
              color: #26344a;
              margin-bottom: 10px;
              display: inline-block;
              font-weight:500;
              font-size: 18px;
          }
          ul{
              li{
                  color: #26344a;
                  margin-bottom: 10px;
  
                  a{
                      text-decoration: none;
                      color: #26344a;
                  }
                  &:nth-child(2){
                      max-width: 146px;
                  }
              }
          }
          .input_grp{
              text-align: left;
             input{
              display: inline-block;
              border: none;
              &:nth-child(1){
                  padding: 10px 20px;
                  border-radius: 10px;
                  
              }
              &:nth-child(2){
                 padding: 10px 20px;
                 border-top-right-radius: 10px;
                 border-bottom-right-radius: 10px;
                 background-color: #26344a;
                 color: #fff;
              }
             }
          }
      }
    }
   }
  