nav{
    .container{
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
        .nav_logo{
            padding: 10px 0px;
        }
        .nav_links{
            margin-right:-150px;
            ul{
                display: flex;
                list-style: none;
                li{
                    margin-left: 30px;
                    font-weight: 600;
                    position: relative;
                    padding: 10px 0px;
                    position: relative;
                    &:hover{
                        .navlink_img_cntnt{
                        display: block;
                        transform: translateY(-7px);
                        } 
                         .navlink_link_cntnt{
                            display: block;
                        }
                    }
                    a{
                     text-decoration: none;
                      color:#343f52;
                      font-size: 17px;
                    }
                    i{
                        font-size: 12px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                    .navlink_img_cntnt{
                        position: absolute;
                        left: -398px;
                        width: 1126px;
                        margin-top: 15px;
                        display: none;
                        border-radius: 15px;
                        background-color:#2b3443;
                        transition: all .2s ease-in-out;
                        padding-top: 10px;
                        ul{
                            display: flex;
                            flex-wrap: wrap;
                            margin-left: -12px;
                            li{
                                width: 180px;
                                height: 150px;
                                transition: all .2s ease-in-out;
                                &:hover{
                                    margin-top: -4px;
                                }
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                  border-radius: 10px;
                                  cursor: pointer;

                                }
                            }
                        }
                    }   
                    &:nth-child(2){
                        position: relative;
                           &:hover{
                            .navlink_link_cntnt{
                                display: block;
                            }
                           }
                        .navlink_link_cntnt{
                            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                            position: absolute;
                            left: 0;
                            top: 44px;
                            flex-direction: column;
                            background-color: #fff;
                            border-radius: 10px;
                            width: 200px;
                            display: none;
                            li{
                                padding: 10px 0px;
                                font-size: 10px;
                                a{
                                    &:hover{
                                        opacity: 0.7;
                                   }
                                }
                                i{
                                    color: #2b3443;
                                }
                                &:nth-child(1){
                                    position: relative;
                                    &:hover{
                                        ul{
                                            display: block;
                                        }
                                    }
                                    ul{
                                        width: 167px;
                                        position: absolute;
                                        right: -173px;
                                        top: 30px;
                                        background-color: #fff;
                                        display: flex;
                                        flex-direction: column;
                                        border-radius: 7px;
                                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                                        display: none;
                                    }
                                }
                                &:nth-child(2){
                                    position: relative;
                                    &:hover{
                                        ul{
                                            display: block;
                                        }
                                    }
                                    ul{
                                        width: 167px;
                                        position: absolute;
                                        right: -173px;
                                        top: 30px;
                                        background-color: #fff;
                                        display: flex;
                                        flex-direction: column;
                                        border-radius: 7px;
                                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                                        display: none;
                                    }
                                }
                                &:nth-child(3){
                                    position: relative;
                                    &:hover{
                                        ul{
                                            display: block;
                                        }
                                    }
                                    ul{
                                        width: 167px;
                                        position: absolute;
                                        right: -173px;
                                        top: 30px;
                                        background-color: #fff;
                                        display: flex;
                                        flex-direction: column;
                                        border-radius: 7px;
                                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                                        display: none;
                                    }
                                }
                                &:nth-child(4){
                                    position: relative;
                                    &:hover{
                                        ul{
                                            display: block;
                                        }
                                    }
                                    ul{
                                        width: 167px;
                                        position: absolute;
                                        right: -173px;
                                        top: 30px;
                                        background-color: #fff;
                                        display: flex;
                                        flex-direction: column;
                                        border-radius: 7px;
                                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(5){
                        position: relative;
                         &:hover{
                            .navlink_img_cntnt{
                                display: block;
                            }
                         }
                         .navlink_img_cntnt{
                            position: absolute;
                            left: -730px;
                            width: 1126px;
                            margin-top: 15px;
                            display: none;
                            border-radius: 15px;
                            background-color:#2b3443;
                            transition: all .2s ease-in-out;
                            padding-top: 10px;
                            z-index: 1;
                            height: 520px;
                            ul{
                                display: flex;
                                flex-wrap: wrap;
                                margin-left: -12px;
                                li{
                                    width: 180px;
                                    height: 150px;
                                    transition: all .2s ease-in-out;
                                    &:hover{
                                        margin-top: -4px;
                                    }
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: contain;
                                      border-radius: 10px;
                                      cursor: pointer;
                                    }
                                    span{
                                        color: #fff;
                                        margin: 0;
                                        padding: 0;
                                    }
                                }
                            }
                        }   
                     }
                    }
                }
            }
        }
        .nav_icons{
            padding: 10px 0px;
            i{
                display: inline-block;
                margin-right: 12px;
                font-size: 18px;
                color: #343f52;
                font-weight:bold;
            }
        }
    }
